<div class="main shop-market">
    <molla-page-header title="Shop Market" subtitle="Shop"></molla-page-header>

    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/shop/sidebar/list">Shop</a>
                </li>
                <li class="breadcrumb-item active">Market</li>
                <li class="breadcrumb-item" *ngIf="searchTerm != ''">
                    <span>Search - {{ searchTerm }}</span>
                </li>
            </ol>
        </div>
    </nav>

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-xl-4-5col">
                    <owl-carousel carouselClasses="category-banners-slider owl-simple owl-nav-inside"
                        [options]="introSlider">
                        <div class="banner banner-poster bg-gray">
                            <a href="javascript:;">
                                <img src="assets/images/market/slider/slider-1.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-right">
                                <h3 class="banner-subtitle"><a routerLink="/shop/sidebar/list">Amazing Value</a>
                                </h3>
                                <h2 class="banner-title"><a routerLink="/shop/sidebar/list">High Performance 4K
                                        TVs</a></h2>
                                <a routerLink="/shop/sidebar/list" class="banner-link">Shop Now <i
                                        class="icon-long-arrow-right"></i></a>
                            </div>
                        </div>

                        <div class="banner banner-poster bg-gray">
                            <a routerLink="/shop/sidebar/list">
                                <img src="assets/images/market/slider/slider-2.jpg" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h3 class="banner-subtitle"><a routerLink="/shop/sidebar/list">Weekend Deal</a></h3>
                                <h2 class="banner-title"><a routerLink="/shop/sidebar/list">Apple & Accessories</a>
                                </h2>
                                <a routerLink="/shop/sidebar/list" class="banner-link">Shop Now <i
                                        class="icon-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </owl-carousel>

                    <div class="mb-3"></div>

                    <owl-carousel carouselClasses="owl-simple owl-nav-align brand-carousel" [options]="brandSlider">
                        <a href="javascript:;" class="brand" *ngFor="let brand of brands">
                            <img [src]="brand" alt="Brand Name">
                        </a>
                    </owl-carousel>

                    <div class="mb-3 mb-lg-5"></div>

                    <div class="cat-blocks-container">
                        <div class="row">
                            <div class="col-6 col-md-4 col-lg-3" *ngFor="let cat of cats">
                                <a routerLink="/shop/market" [queryParams]="{category: cat.query}" class="cat-block">
                                    <figure>
                                        <span>
                                            <img [src]="cat.image" alt="desc">
                                        </span>
                                    </figure>

                                    <h3 class="cat-block-title">{{ cat.name }}</h3>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="mb-2"></div>

                    <div class="toolbox">
                        <div class="toolbox-left">
                            <div class="toolbox-info">
                                Showing
                                <span>{{ products.length }} of {{ totalCount }}</span> Products
                            </div>
                        </div>

                        <div class="toolbox-right">
                            <div class="toolbox-sort">
                                <label for="sortby">Sort by:</label>
                                <div class="select-custom">
                                    <select name="sortby" id="sortby" class="form-control"
                                        (change)="changeOrderBy($event)" [value]="orderBy">
                                        <option value="default">Default</option>
                                        <option value="featured">Most Popular</option>
                                        <option value="rating">Most Rated</option>
                                        <option value="new">Date</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <molla-shop-list-two [products]="products" [loaded]="loaded"></molla-shop-list-two>

                    <molla-pagination [perPage]="perPage" [total]="totalCount" *ngIf="totalCount > perPage">
                    </molla-pagination>
                </div>

                <aside class="col-lg-3 col-xl-5col skel-shop-sidebar order-lg-first skeleton-body"
                    [class.loaded]="firstLoad">
                    <div *ngIf="!firstLoad else sidebarLoaded">
                        <div class="skel-widget"></div>
                        <div class="skel-widget"></div>
                        <div class="skel-widget"></div>
                        <div class="skel-widget"></div>
                    </div>
                    <ng-template #sidebarLoaded>
                        <molla-shop-sidebar-three [toggle]="toggle">
                        </molla-shop-sidebar-three>

                        <button class="sidebar-fixed-toggler" (click)="toggleSidebar()" *ngIf="toggle">
                            <i class="icon-cog"></i>
                        </button>

                        <div class="sidebar-filter-overlay" (click)="hideSidebar()"></div>
                    </ng-template>
                </aside>
            </div>
        </div>
    </div>
</div>