<div class="container recent-arrivals">
    <h2 class="title title-lg text-center" contentAnim aniName="blurIn">Recent Arrivals</h2>

    <ul ngbNav #nav="ngbNav" class="nav nav-pills nav-border-anim justify-content-center">
         <li [ngbNavItem]="titles[cat[0]]" *ngFor="let cat of categories">
            <a ngbNavLink>{{ titles[cat[0]] }}</a>
            <ng-template ngbNavContent>
                <div class="products">
                    <div class="row justify-content-center" *ngIf="!loaded else loadedBlock">
                        <div class="skel-pro col-6 col-md-4 col-lg-3"
                            *ngFor="let i of [1,2,3,4,5,6,7,8]">
                        </div>
                    </div>
                    <ng-template #loadedBlock>
                        <div class="row justify-content-center">
                            <molla-product-twelve class="col-6 col-md-4 col-lg-3" [product]="product"
                                *ngFor="let product of (products | catFilter : cat) | slice : 0: 8">
                            </molla-product-twelve>
                        </div>
                    </ng-template>
                </div>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>

    <div class="load-more-container text-center mb-3">
        <a routerLink="/shop/sidebar/list" class="btn btn-outline-dark-3 btn-more">
            <span>View More</span>
            <i class="icon-long-arrow-right"></i>
        </a>
    </div>
</div>