<div class="product-details">
    <h1 class="product-title">{{ product.name }}</h1>

    <div class="ratings-container">
        <div class="ratings">
            <div class="ratings-val" [style.width]="product.ratings * 20 + '%'"></div>
            <span class="tooltip-text">{{ product.ratings.toFixed(2) }}</span>
        </div>
        <span class="ratings-text">( {{ product.review }} Reviews )</span>
    </div>

    <div class="product-price" *ngIf="!product.stock || product.stock == 0 else elseBlock">
        <span class="out-price">${{ product.price.toFixed(2) }}</span>
    </div>

    <ng-template #elseBlock>
        <div class="product-price" *ngIf="minPrice == maxPrice else elseBlock">${{ minPrice.toFixed(2) }}</div>
        <ng-template #elseBlock>
            <div class="product-price" *ngIf="product.variants.length == 0 else elseBlock">
                <span class="new-price">${{ minPrice.toFixed(2) }}</span>
                <span class="old-price">${{ maxPrice.toFixed(2) }}</span>
            </div>
            <ng-template #elseBlock>
                <div class="product-price">${{minPrice.toFixed(2)}}&ndash;${{maxPrice.toFixed(2)}}</div>
            </ng-template>
        </ng-template>
    </ng-template>

    <div class="product-content">
        <p>{{ product.short_desc }}</p>
    </div>

    <div *ngIf="product.variants.length > 1">
        <div class="details-filter-row details-row-size">
            <label>Color:</label>
            <div class="product-nav product-nav-dots">
                <a href="javascript:;" [class.active]="item.color == selectedVariant.color"
                    [class.disabled]="item.disabled" [style.background-color]="item.color"
                    *ngFor="let item of colorArray" (click)="selectColor($event, item)"></a>
            </div>
        </div>

        <div class="details-filter-row details-row-size">
            <label for="size">Size:</label>
            <div class="select-custom">
                <select name="size" id="size" class="form-control" [value]="selectedVariant.size"
                    (change)="selectSize($event)">
                    <option value="" [selected]="'' == selectedVariant.size">Select a size</option>
                    <option [value]="item.size" *ngFor="let item of sizeArray"
                        [selected]="item.size == selectedVariant.size">{{ item.size }}</option>
                </select>
            </div>

            <a href="javascript:;" class="size-guide mr-4"><i class="icon-th-list"></i>size guide</a>
            <a href="javascript:;" (click)="clearSelection()"
                *ngIf="selectedVariant.color || selectedVariant.size != ''">clear</a>
        </div>
    </div>

    <div class="variation-price" style="display: none;">
        <div class="product-price">
            ${{ selectedVariant.price ? selectedVariant.price.toFixed( 2 ) : 0 }}
        </div>
    </div>

    <div class="details-filter-row details-row-size">
        <label for="qty">Qty:</label>
        <molla-quantity-input [max]="product.stock" (changeQty)="onChangeQty( $event )" [value]="qty">
        </molla-quantity-input>
    </div>

    <div class="product-details-action">
        <a href="javascript:;" class="btn-product btn-cart"
            [class.btn-disabled]="!cartService.canAddToCart( product, qty ) || ( product.variants.length > 0 && !( selectedVariant.color && selectedVariant.size != '' ) )"
            (click)="addCart( $event, 0 )"><span>add to cart</span></a>

        <div class="details-action-wrapper">
            <a href="javascript:;" class="btn-product btn-wishlist" [class.added-to-wishlist]="isInWishlist()"
                (click)="addToWishlist($event)">
                <span>{{ isInWishlist() ? 'Go' : 'Add' }} to Wishlist</span>
            </a>
        </div>
    </div>

    <div class="product-details-footer">
        <div class="product-cat w-100 text-truncate">
            <span>Category:</span>
            <span *ngFor="let cat of product.category; let i =index">
                <a [routerLink]="['/shop/sidebar/list']"
                    [queryParams]="{category: cat.slug}">{{ cat.name }}</a>{{ i < product.category.length - 1 ? ',' : '' }}</span>
        </div>

        <div class="social-icons social-icons-sm">
            <span class="social-label">Share:</span>
            <a href="javascript:;" class="social-icon" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a href="javascript:;" class="social-icon" title="Twitter"><i class="icon-twitter"></i></a>
            <a href="javascript:;" class="social-icon" title="Instagram"><i class="icon-instagram"></i></a>
            <a href="javascript:;" class="social-icon" title="Pinterest"><i class="icon-pinterest"></i></a>
        </div>
    </div>
    <div class="sticky-bar d-none">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <figure class="product-media">
                        <a [routerLink]="['/product/default/'+ product.slug]">
                            <molla-image [src]="SERVER_URL + product.sm_pictures[0].url" alt="Product"
                                class="product-image">
                            </molla-image>
                        </a>
                    </figure>
                    <h3 class="product-title">
                        <a [routerLink]="['/product/default/'+ product.slug]">{{ product.name }}</a>
                    </h3>
                </div>
                <div class="col-6 justify-content-end">
                    <div class="product-price" *ngIf="selectedVariant.color && selectedVariant.size != '' else variationPrice">
                        ${{ selectedVariant.price ? selectedVariant.price.toFixed( 2 ) : 0 }}
                    </div>
                    <ng-template #variationPrice>
                        <div class="product-price" *ngIf="!product.stock || product.stock == 0 else elseBlock">
                            <span class="out-price">${{ product.price.toFixed(2) }}</span>
                        </div>

                        <ng-template #elseBlock>
                            <div class="product-price" *ngIf="minPrice == maxPrice else elseBlock">
                                ${{ minPrice.toFixed(2) }}</div>
                            <ng-template #elseBlock>
                                <div class="product-price" *ngIf="product.variants.length == 0 else elseBlock">
                                    <span class="new-price">${{ minPrice.toFixed(2) }}</span>
                                    <span class="old-price">${{ maxPrice.toFixed(2) }}</span>
                                </div>
                                <ng-template #elseBlock>
                                    <div class="product-price">${{minPrice.toFixed(2)}}&ndash;${{maxPrice.toFixed(2)}}
                                    </div>
                                </ng-template>
                            </ng-template>
                        </ng-template>
                    </ng-template>

                    <molla-quantity-input [max]="product.stock" (changeQty)="onChangeQty2( $event )" [value]="qty2">
                    </molla-quantity-input>

                    <div class="product-details-action">
                        <a href="javascript:;" class="btn-product btn-cart"
                            [class.btn-disabled]="!cartService.canAddToCart( product, qty2 ) || ( product.variants.length > 0 && !( selectedVariant.color && selectedVariant.size != '' ) )"
                            (click)="addCart( $event, 1 )"><span>add to cart</span></a>

                        <div class="details-action-wrapper ml-0">
                            <a href="javascript:;" class="btn-product btn-wishlist"
                                [class.added-to-wishlist]="isInWishlist()" (click)="addToWishlist($event)">
                                <span>{{ isInWishlist() ? 'go' : 'add' }} to wishlist</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>