<div class="container special-collection pb-3">
    <ul ngbNav #nav="ngbNav" type="pills nav-border-anim nav-big justify-content-center mb-3" [destroyOnHide]="false"
        class="tab-content-carousel">
         <li [ngbNavItem]="titles[attr]" *ngFor="let attr of attrs">
            <ng-template ngbNavContent>
                <owl-carousel carouselClasses="owl-simple carousel-equal-height carousel-with-shadow"
                    [options]="sliderOption" *ngIf="!loaded else loadedBlock">
                    <div class="skel-pro" *ngFor="let i of [1,2,3,4,5,6]"></div>
                </owl-carousel>
                <ng-template #loadedBlock>
                    <owl-carousel
                        carouselClasses="owl-simple carousel-equal-height carousel-with-shadow"
                        [options]="sliderOption">
                        <molla-product-twelve [product]="product" *ngFor="let product of products | attrFilter : attr">
                        </molla-product-twelve>
                    </owl-carousel>
                </ng-template>
            </ng-template>
        </li>
    </ul>
</div>