@import "slick-carousel/slick/slick.css";
// @import "slick-carousel/slick/slick-theme.css";
@import "../../../node_modules/react-modal-video/scss/modal-video.scss";
@import "~bootstrap/scss/bootstrap";
@import "../public/main.scss";
