<main class="main home-page skeleton-body">
    <div class="intro-slider-container">
        <owl-carousel carouselClasses="owl-simple owl-light intro-slider owl-nav-inside slider-container-1" [options]="introSlider">
            <div class="intro-slide intro-slide1"
                style="background-image: url(assets/images/home/sliders/slide-1.jpg); background-color: #f6f6f6;">
                <div class="container intro-content text-left" contentAnim aniName="fadeInUpShorter">
                    <h3 class="intro-subtitle">Limited time only *</h3>
                    <h1 class="intro-title">Summer<br><strong>sale</strong></h1>
                    <h3 class="intro-subtitle">Up to 50% off</h3>

                    <a routerLink="/shop/sidebar/list" class="btn">
                        <span>SHOP NOW</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div>
                <img class="position-right" src="assets/images/home/sliders/img-1.png">
            </div>

            <div class="intro-slide intro-slide2 slide-image"
                style="background-image: url(assets/images/home/sliders/slide-2.jpg); background-color: #f9f2ec;">
                <div class="container intro-content text-right" contentAnim aniName="fadeInUpShorter">
                    <h3 class="intro-subtitle">PREMIUM QUALITY</h3>
                    <h1 class="intro-title">coats <span class="highlight">&</span><br>jackets</h1>

                    <a routerLink="/shop/sidebar/list" class="btn">
                        <span>SHOP NOW</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div>
                <img class="position-left" src="assets/images/home/sliders/img-2.png">
            </div>
        </owl-carousel>
    </div>

    <div class="pt-2 pb-2">
        <div class="container brands">
            <div class="banner-group">
                <owl-carousel carouselClasses="owl-simple" [options]="bannerSlider">
                    <div>
                        <div class="banner banner-overlay">
                            <a routerLink="/shop/sidebar/3cols">
                                <molla-image src="assets/images/home/banners/banner-1.jpg" alt="Banner" fixedPt="470px" style="min-height: 470px;"></molla-image>
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle"><a routerLink="/shop/sidebar/3cols">Final reduction</a></h4>
                                <h3 class="banner-title"><a routerLink="/shop/sidebar/3cols"><strong>Sandals & <br>Flip Flops</strong> <br>up to 60% off</a></h3>
                                <a routerLink="/shop/sidebar/3cols" class="btn btn-outline-white banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="banner banner-overlay">
                            <a routerLink="/shop/sidebar/3cols">
                                <molla-image src="assets/images/home/banners/banner-2.jpg" alt="Banner" fixedPt="470px" style="min-height: 470px;"></molla-image>
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle"><a routerLink="/shop/sidebar/3cols">Limited time only.</a></h4>
                                <h3 class="banner-title"><a routerLink="/shop/sidebar/3cols"><strong>Trainers & <br>Sportwear</strong> <br>40 -70% off</a></h3>
                                <a routerLink="/shop/sidebar/3cols" class="btn btn-outline-white banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="banner banner-overlay">
                            <a routerLink="/shop/sidebar/3cols">
                                <molla-image src="assets/images/home/banners/banner-3.jpg" alt="Banner" fixedPt="470px" style="min-height: 470px;"></molla-image>
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle"><a routerLink="/shop/sidebar/3cols">This week we love...</a></h4>
                                <h3 class="banner-title"><a routerLink="/shop/sidebar/3cols"><strong>Women's <br>Accessories </strong> <br>from $6.99</a></h3>
                                <a routerLink="/shop/sidebar/3cols" class="btn btn-outline-white banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </owl-carousel>
            </div>

            <owl-carousel carouselClasses="brands-border owl-simple" [options]="brandSlider">
                <a href="javascript:;" class="brand">
                    <img src="assets/images/brands/1.png" alt="Brand Name">
                </a>
        
                <a href="javascript:;" class="brand">
                    <img src="assets/images/brands/2.png" alt="Brand Name">
                </a>
        
                <a href="javascript:;" class="brand">
                    <img src="assets/images/brands/3.png" alt="Brand Name">
                </a>
        
                <a href="javascript:;" class="brand">
                    <img src="assets/images/brands/4.png" alt="Brand Name">
                </a>
        
                <a href="javascript:;" class="brand">
                    <img src="assets/images/brands/5.png" alt="Brand Name">
                </a>
        
                <a href="javascript:;" class="brand">
                    <img src="assets/images/brands/6.png" alt="Brand Name">
                </a>
        
                <a href="javascript:;" class="brand">
                    <img src="assets/images/brands/7.png" alt="Brand Name">
                </a>
            </owl-carousel>
        </div>
    </div>

    <div class="mb-2"></div>

    <molla-special-collection [products]="products" [loaded]="loaded"></molla-special-collection>

    <div class="mb-3 mb-xl-2"></div>

    <div class="trending">
        <a href="javascript:;">
            <img src="assets/images/home/banners/banner-4.jpg" alt="Banner"style="background-color: #2d2c32;" />
        </a>
        <div class="banner banner-big d-md-block">
            <div class="banner-content text-center">
                <h4 class="banner-subtitle text-white">Trending</h4>
                <h3 class="banner-title text-white" contentAnim aniName="blurIn">New League</h3>
                <p class="d-none d-lg-block text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br>Donec odio. Quisque volutpat mattis eros. </p> 

                <a routerLink="/shop/sidebar/list" class="btn btn-primary-white"><span>Shop Now</span><i class="icon-long-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <div class="container new-arrivals">
        <div class="row">
            <div class="col-md-6" contentAnim aniName="fadeInRightShorter">
                <div class="banner banner-overlay">
                    <a routerLink="/shop/sidebar/list">
                        <molla-image src="assets/images/home/banners/banner-5.jpg" fixedPt="30rem" alt="Banner"></molla-image>
                    </a>

                    <div class="banner-content">
                        <h4 class="banner-subtitle"><a routerLink="/shop/sidebar/list">New Arrivals</a></h4>
                        <h3 class="banner-title"><a routerLink="/shop/sidebar/list">Women’s</a></h3>
                        <a routerLink="/shop/sidebar/list" class="btn btn-outline-white banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6" contentAnim aniName="fadeInLeftShorter">
                <div class="banner banner-overlay">
                    <a routerLink="/shop/sidebar/list">
                        <molla-image src="assets/images/home/banners/banner-6.jpg" fixedPt="30rem" alt="Banner"></molla-image>
                    </a>

                    <div class="banner-content">
                        <h4 class="banner-subtitle"><a routerLink="/shop/sidebar/list">New Arrivals</a></h4>
                        <h3 class="banner-title "><a routerLink="/shop/sidebar/list">Men’s</a></h3>
                        <a routerLink="/shop/sidebar/list" class="btn btn-outline-white banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-5"></div>

    <molla-new-collection [products]="products" [loaded]="loaded"></molla-new-collection>

    <div class="mb-7"></div>
            
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6" contentAnim aniName="fadeInLeftShorter">
                <div class="icon-box icon-box-card text-center">
                    <span class="icon-box-icon">
                        <i class="icon-rocket"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Payment & Delivery</h3>
                        <p>Free shipping for orders over $50</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="icon-box icon-box-card text-center">
                    <span class="icon-box-icon">
                        <i class="icon-rotate-left"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Return & Refund</h3>
                        <p>Free 100% money back guarantee</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6" contentAnim aniName="fadeInRightShorter">
                <div class="icon-box icon-box-card text-center">
                    <span class="icon-box-icon">
                        <i class="icon-life-ring"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Quality Support</h3>
                        <p>Alway online feedback 24/7</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="container instagram">
        <div class="heading text-center">
            <h2 class="title title-lg" contentAnim aniName="blurIn">Follow Us On Instagram</h2>
            <p class="title-desc">Wanna share your style with us?</p>
        </div>
    </div>

    <owl-carousel carouselClasses="owl-simple" [options]="testiSlider">
        <div class="instagram-feed">
            <molla-image src="assets/images/home/instagram/1.jpg" alt="img"></molla-image>

            <div class="instagram-feed-content">
                <a href="javascript:;"><i class="icon-heart-o"></i>466</a>
                <a href="javascript:;"><i class="icon-comments"></i>65</a>
            </div>
        </div>

        <div class="instagram-feed">
            <molla-image src="assets/images/home/instagram/2.jpg" alt="img"></molla-image>

            <div class="instagram-feed-content">
                <a href="javascript:;"><i class="icon-heart-o"></i>39</a>
                <a href="javascript:;"><i class="icon-comments"></i>78</a>
            </div>
        </div>

        <div class="instagram-feed">
            <molla-image src="assets/images/home/instagram/3.jpg" alt="img"></molla-image>

            <div class="instagram-feed-content">
                <a href="javascript:;"><i class="icon-heart-o"></i>691</a>
                <a href="javascript:;"><i class="icon-comments"></i>87</a>
            </div>
        </div>

        <div class="instagram-feed">
            <molla-image src="assets/images/home/instagram/4.jpg" alt="img"></molla-image>

            <div class="instagram-feed-content">
                <a href="javascript:;"><i class="icon-heart-o"></i>508</a>
                <a href="javascript:;"><i class="icon-comments"></i>124</a>
            </div>
        </div>

        <div class="instagram-feed">
            <molla-image src="assets/images/home/instagram/5.jpg" alt="img"></molla-image>

            <div class="instagram-feed-content">
                <a href="javascript:;"><i class="icon-heart-o"></i>433</a>
                <a href="javascript:;"><i class="icon-comments"></i>27</a>
            </div>
        </div>

        <div class="instagram-feed">
            <molla-image src="assets/images/home/instagram/6.jpg" alt="img"></molla-image>

            <div class="instagram-feed-content">
                <a href="javascript:;"><i class="icon-heart-o"></i>122</a>
                <a href="javascript:;"><i class="icon-comments"></i>55</a>
            </div>
        </div>
    </owl-carousel>
</main>